---
layout: project
---

/ =========================Masthead=========================
.navbar.navbar-inverse#navbar-fix
  .navbar-inner
    .container
      %a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .nav-collapse.collapse
        %ul.nav
          - site.nav.each do |key, nav|
            %li{:class=>"#{'active' if nav.href.match(/#{page.output_path}/)}"}<
              %a{:href=>"#{nav.href}"} #{nav.label}
          %li.dropdown
            %a.dropdown-toggle(href="#" data-toggle="dropdown")<
              = precede 'Follow Us ' do
                %b.caret>
            %ul.dropdown-menu.projectsocialmedia
              %li<
                %a(href="https://twitter.com/JBossWindup")<
                  %img(src="#{site.jborg_images_url}/common/socialmedia_icon40_twitter.png")
              /%li<
              /  %a(href="#")<
              /    %img(src="#{site.jborg_images_url}/common/socialmedia_icon40_googleplus.png")
              %li<
                %a(href="https://www.facebook.com/jboss")<
                  %img(src="#{site.jborg_images_url}/common/socialmedia_icon40_facebook.png")
              /%li<
              /  %a(href="#")<
              /    %img(src="#{site.jborg_images_url}/common/socialmedia_icon40_youtube.png")
              %li<
                %a(href="http://www.linkedin.com/groups?gid=1950419&trk=myg_ugrp_ovr")<
                  %img(src="#{site.jborg_images_url}/common/socialmedia_icon40_linkedin.png")
          %li.divider

~ content

